.DS_Store
.env
test*
notebook*

*.json
*.ttl

ignore/
od/

.vscode/
.pytest_cache/
*__pycache__/*

app/.DS_Store
app/__pycache__/*
app/LMSS.owl
app/lmss_graph.ttl 
app/lmss_index.json
app/lmss_hash.txt

tests/*

.cursorrules
.cursorignore
.dockerignore